body{
    background-image: url(img/hatter.png);
}
button{
    background-color: 	#00BFFF;
    font-weight: bold;
    border-radius: 8px;
}
.carousel img{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 500px;
}
.carousel-caption{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.klink{
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 190);
    border: 1px groove black;
    border-radius: 5px;
    font-size: larger;
    margin-top: auto;
    
}
.box{
    width: 350px;
    height: 400px;
    float: left;
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 100px;
    border-radius: 10%;
    transition: 1s;
    color: grey;
    text-align: center;
    background-color: lightblue;
}
.boxt{
    width: 200px;
    height: 750px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 10%;
    text-align: center;
    background-color: lightblue;
    color: black;
}
.boxham{
    width: 200px;
    height: 565px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 10%;
    text-align: center;
    background-color: lightblue;
    color: black;
}
.boxham img{
    width: 170px;
}
.boxt img{
    width: 170px;
}
img{
    margin-top: 5px;
    width: 300px;
    height: 300px;
    border-radius: 3%;
}
.box:hover{
    transform: scale(1.2);
    transition: 2.5s;
}
#rolunkp{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    text-shadow: 2px 2px white;
    background-color: rgb(170, 237, 255);
}
#rolunku{
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    font-weight: bold;
    font-size: 200%;
    text-align: center;
    text-shadow: 2px 2px white;
    background-color: rgb(170, 237, 255);
}
#horcsog{
    width: 1200px;
    margin-left: 150px;
    background-color: lightblue;
    font-size: 150%;
    font-weight: bold;
    margin-top: 1050px;
    text-shadow: 2px 2px white;
}
.horcsogdiv{
    height: 1540px;
}
.boxh{
    width: 200px;
    height: 750px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 10%;
    text-align: center;
    background-color: lightblue;
    color: black;
}
.boxn{
    width: 200px;
    height: 750px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    border-radius: 10%;
    text-align: center;
    background-color: lightblue;
    color: black;
}
.boxtm{
    width: 200px;
    height: 750px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    border-radius: 10%;
    text-align: center;
    background-color: lightblue;
    color: black;
}
.boxe{
    width: 200px;
    height: 750px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    border-radius: 10%;
    text-align: center;
    background-color: lightblue;
    color: black;
}
.boxel{
    width: 200px;
    height: 595px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 10%;
    text-align: center;
    background-color: lightblue;
    color: black;
}
.boxel img{
    width: 170px;
}
.boxh img{
    width: 170px;
}
.boxn img{
    width: 170px;
}
.boxtm img{
    width: 170px;
}
.boxe img{
    width: 170px;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    text-shadow: 2px 2px white;
    background-color: rgb(170, 237, 255);
}
table th{
    border-left: 2px solid black;
    border-right: 2px solid black;
}
form{
    margin-left: auto;
    margin-right: auto;
    font-size: 200%;
    text-align: center;
    background-color: rgb(170, 237, 255);
    width: 500px;
}
.boxp{
    width: 200px;
    height: 620px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 10%;
    text-align: center;
    background-color: lightblue;
    color: black;
}
.boxp img{
    width: 170px;
}
#felfele-gomb {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
    padding-top: 15px;
    font-weight: 800;
    background-color: #464545;
    color: rgba(245, 245, 245, 0.699);
    text-align: center ;
    height: 36px;
  }
